<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./tests/init.php" colors="true">
	<php>
		<ini name="display_errors" value="stderr" />
		<ini name="error_log" value="/dev/null" />
	</php>
	<testsuite name="cardgate-clientlib-php-testsuite">
		<directory>tests</directory>
	</testsuite>
</phpunit>
